html {
    font-family: Futura, Arial, Helvetica, sans-serif;
}

body {
    background: #6acad7
}

h1 {
    font-family: Futura, Arial, Helvetica, sans-serif;
    font-weight: Bold;
    color: #FFF;
    font-style: italic;
    font-size: 3rem;
    line-height: 3rem;
    text-shadow: #000 4px 4px;
}

p,
li {
    font-size: 1rem;
    line-height: 1.5rem;
}

hr {
    border: dashed 2px #FFF;
}

h2 {
    font-family: Futura, myriad pro, helvetica, arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    color: #FFF;
}

p2 {
    font-weight: normal;
    font-style: bold;
    font-style: italic;
    color: #FFF;
}